/*Fonts*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:ital,wght@0,200;0,300;1,300&display=swap");
/*colores*/
/*Sapcings*/
/*Font-sizes*/
/*colores*/
/*Sapcings*/
/*Font-sizes*/
.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  background-color: lightseagreen;
  text-align: center;
  justify-items: auto;
  align-items: center;
  color: pink;
  height: 6rem;
  left: 0rem;
}

/*colores*/
/*Sapcings*/
/*Font-sizes*/
.footer {
  background-color: #f08080;
  position: absolute;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 5rem;
  left: 0%;
  margin-top: 10px;
  margin: 0rem;
  padding: 0rem;
}

* {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.html {
  font-size: 62, 5%;
}

.navbar {
  font-family: "Titillium Web";
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
}
.navbar * {
  box-sizing: border-box;
  transition: all 0.35s ease;
}
.navbar li {
  display: inline-block;
  list-style: outside none none;
  margin: 0.5em 1em;
  padding: 0;
}
.navbar a {
  padding: 0.5em 0.8em;
  color: #f08080;
  position: relative;
  text-decoration: none;
  font-size: 20px;
}
.navbar a::before, .navbar a::after {
  content: "";
  height: 14px;
  width: 14px;
  position: absolute;
  transition: all 0.35s ease;
  opacity: 0;
}
.navbar a::before {
  content: "";
  right: 0;
  top: 0;
  border-top: 3px solid #f08080;
  border-right: 3px solid #f08080;
  transform: translate(-100%, 50%);
}
.navbar a:after {
  content: "";
  left: 0;
  bottom: 0;
  border-bottom: 3px solid #f08080;
  border-left: 3px solid #f08080;
  transform: translate(100%, -50%);
}
.navbar a:hover {
  color: #f08080;
}
.navbar a:hover:before, .navbar a:hover:after {
  transform: translate(0, 0);
  opacity: 1;
}

.ul {
  display: block;
  list-style-type: disc;
  -webkit-margin-before: 1em;
          margin-block-start: 1em;
  -webkit-margin-after: 1em;
          margin-block-end: 1em;
  -webkit-margin-start: 0rem;
          margin-inline-start: 0rem;
  -webkit-margin-end: 0rem;
          margin-inline-end: 0rem;
  -webkit-padding-start: 3rem;
          padding-inline-start: 3rem;
}

.contenedor, .contenedor .contenedor--img2, .contenedor .contenedor--img1 {
  display: flex;
  flex-direction: column;
  justify-content: auto;
  align-items: auto;
  font-size: 1.2rem;
  opacity: 0.5;
  transition: all 0.8s ease-in-out;
  gap: 1rem;
  margin: 1rem;
  height: auto;
  margin-bottom: 20px;
  text-align: center;
}
.contenedor .contenedor--img1 {
  overflow: hidden;
}
.contenedor .contenedor--img2 {
  width: 360px;
}
.contenedor:hover, .contenedor .contenedor--img1:hover, .contenedor .contenedor--img2:hover {
  opacity: 1;
}

.link {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  text-decoration: none;
  color: grey;
}

.fotomia {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 1rem;
  text-align: center;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  align-items: center;
  justify-content: center;
}

.texto1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-content: center;
  align-items: center;
  justify-items: center;
  color: #f08080;
  margin: 10px;
  margin-top: 20px;
  height: auto;
  font-size: 1.2rem;
}

.footer {
  background-color: #f08080;
  position: absolute;
  text-align: center;
  align-items: center;
  width: 100%;
  height: 5rem;
  left: 0%;
  margin: 0rem;
  padding: 0rem;
}

h1,
h2,
h3 {
  font-family: "Montserrat", sans-serif;
  color: #f08080;
}/*# sourceMappingURL=estilos.css.map */

