@import'./../misc/variables';
@import './../misc/mixins';

.header {
    @include flex(column, center, center);
    font-size: map-get($fuentes, text-base);
    background-color: $color-celeste;
    text-align: center;
    justify-items: auto;
    align-items: center;
    color: $color-texto-header;
    height: 6rem;
    left: 0rem;
}