/*colores*/ 
$color-texto-header: (pink);
$color-rosa: (#f08080); 
$color-celeste: (lightseagreen);
$color-gris: (grey);

/*Sapcings*/ 
$spacing-small: 2rem;
$spacing-xsmall: 1rem;
$spacing-medium: 2.4rem;
$spacing-large: 6rem;

// Font-family
$font-principal: 'Poppins', sans-serif; 
$font-title:'Montserrat', sans-serif;

/*Font-sizes*/
$text-large: 5.2rem; 
$text-medium: 2.2rem;
$text-base: 1.6rem;
$text-smal: 1.4rem;
